*,
*::before,
*::after {
  box-sizing: border-box;
}
/* background & Body */
html,
body,
.container {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
  background-color: #5482af;
}

.container {
  padding-top: 60px;
  padding-left: 20px;
  padding-right: 20px;
}
/* header section*/
header {
  text-align: center;
  padding: 20px;
  padding-top: 0px;
  color: hsl(0, 0%, 100%);
  font-size: 24px;
}
/* quiz area */

.quiz-body {
  min-height: 100px;
}

.quiz-footer {
  text-align: center;
}

.quiz-footer::before {
  content: " ";
  display: block;
  width: 100%;

  height: 3px;
}

.quiz-footer::after {
  content: " ";
  display: block;
  clear: both;
}
/* submit answer button*/
.btn {
  border: none;
  background-color: rgb(24, 12, 133);
  border-radius: 20px;
  color: hsl(0, 0%, 100%);
  display: inline-block;
  font-size: 22px;
  line-height: 22px;
  margin: 16px 16px 16px 20px;
  padding: 14px 34px;
  text-align: center;
  cursor: pointer;
}

/*answer area*/
